{% extends 'base.html' %}
{% block title %}Write Your Blogs{% endblock title %}
{% block body %}
<img src="static/img1.png/">
<form action="/written" method="POST">
{% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputTitle1" class="form-label">Title</label>
    <input type="name" class="form-control"name="title" id="exampleInputTitle1">
  </div>
  <div class="mb-3">
    <label for="exampleInputAuthor1" class="form-label">Author</label>
    <input type="name" class="form-control"name="author" id="exampleInputAuthor1">
  </div>
  <div class="mb-3">
    <label for="exampleInputBody1" class="form-label">Body</label>
    <input type="text" class="form-control"name="body" id="exampleInputBody1">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}