{% extends 'base.htm' %}
{% block title %}Write Your Msg{% endblock title %}
{% block body %}
<form method='POST' action="/written" >
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name='email' aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputMsg" class="form-label">Your Msg</label>
      <input type="text" class="form-control" id="exampleInputms" name = 'text'>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock body %}